app_name: melon
log_level: INFO
database:
  melon:
    dsn: ${your mysql username}:${your mysql password}@tcp(${your mysql host}:${your mysql host port})/${your mysql database}?parseTime=true
jwt:
  secret: ${your jwt secret}
  issuer: melon
oauth_v2:
  google:
    client_id:
    client_secret:
    redirect_url: