app_name: melon
log_level: INFO
database:
  melon:
    dsn: ${your mysql username}:${your mysql password}@tcp(${your mysql host}:${your mysql host port})/${your mysql database}?parseTime=true
jwt:
  secret: ${your jwt secret}
  issuer: melon
oauth_v2:
  google:
    client_id: ${google oauth client id}
    client_secret: ${google oauth client secret}
    redirect_url: ${google oauth redirect}
eip712:
  chain_id: 1
  version: 1
  name: melon
  verifying_Contract: 0xdAC17F958D2ee523a2206206994597C13D831ec7