app_name: melon
app_url: http://localhost:8080
log_level: INFO
database:
  melon:
    logging: true
    dsn: root:root@tcp(localhost:3306)/melon-dev?parseTime=true
redis:
  melon:
    addr: localhost:6379
    password: ""
    DB: 0
jwt:
  secret: f7&vh@VHuU0XpXZLm6wT2*HlYpPG#j0G3Tzsi!Qwsk#fY9+gF43g8Eu
  issuer: melon
oauth_v2:
  google:
    client_id:
    client_secret: 
    redirect_url: http://localhost:8080/auth/google/callback
eip712:
  chain_id: 1
  version: 1
  name: melon
  verifying_Contract: 0xdAC17F958D2ee523a2206206994597C13D831ec7
oss:
  aliyun:
    endpoint:
    accessKeyId:
    accessKeySecret:
    bucketName:
    selfDomain:
mail:
  google:
    password:
    sender:
